<form #f="ngForm" (ngSubmit)="signIn(f.value)">
  <h2>Please sign in</h2>
  <div *ngIf="invalidLogin" class="alert alert-danger">
    Invalid username and/or password.
  </div>
  <div class="form-group">
    <label for="inputEmail">Email address</label>
    <input type="email" id="inputEmail" name="email" ngModel class="form-control" placeholder="Email address" required autofocus>
  </div>
  <div class="form-group">
    <label for="inputPassword">Password:</label>
    <input type="password" id="inputPassword" name="password" ngModel class="form-control" placeholder="Password" required>
  </div>
  <button type="submit" class="btn btn-lg btn-block btn-primary">Sign in</button>
</form>